<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/js/gmaps.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/application.js"></script>

    <title></title>
  </head>
  <body>

    <nav >
    <% if current_owner || current_walker %>
      <ul>
        <li><a id="sign-out" href="/sessions/delete">Log out</a></li>
      </ul>
    <% else %>
      <ul>
        <li><a href="/sessions/new">Sign in</a></li>
        <li><a href="/owners/new">Sign up</a></li>
      </ul>
    <% end %>
    </nav>
    <% if current_owner %>
    <div id="left_nav">
      <ul >
        <li><a href="/owners/<%= current_owner.id %>">My Profile</a></li>
        <li><a href="/owners/<%= current_owner.id %>/dogs">My Dogs</a></li>
        <li><a href="/owners">Schedule</a></li>
        <li><a href="/owners/<%= current_owner.id %>/map">map</a></li>
      </ul>
    </div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>



